{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">Data Mining - Spring 2019</a>
      <small class="text-muted">Project - Web Application </small>
    </div>
    <h2><a class="article-title" href="#">Search Implementation</a></h2>
    <p class="article-content">This page contents the search feature of the project using tf-idf </p>
  </div>
</article>




    {% if data %}


  {% for tfidf in query_tfidf %}
   <p> {{tfidf}} </p>
  {% endfor %}

    <table class="table table-sm">
  <thead>
    <tr class=table-active>
      <th scope="col">Company</th>
      <th scope="col">Company Logo</th>
      <th scope="col">Cosine Similarity</th>
    </tr>
  </thead>
  <tbody>
        {% for val,score in data %}

      <tr class=valign="middle">
        <td align="center"><h5>{{val}} </h5></td>
        {% if val == "amazon" %}
        <td><img  width=100 src="{% static "blog/amazon.jpg" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
        {% if val == "apple" %}
        <td><img  width=100 src="{% static "blog/apple.png" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
        {% if val == "AirBnb" %}
        <td><img  width=100 src="{% static "blog/AirBnb.jpg" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                {% if val == "google" %}
        <td><img  width=100 src="{% static "blog/google.jpg" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                        {% if val == "IBM" %}
        <td><img  width=100 src="{% static "blog/IBM.jpg" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                               {% if val == "microsoft" %}
        <td><img  width=100 src="{% static "blog/microsoft.png" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                                       {% if val == "facebook" %}
        <td><img  width=100 src="{% static "blog/facebook.png" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                                       {% if val == "netflix" %}
        <td><img  width=100 src="{% static "blog/netflix.png" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}
                                            {% if val == "Deloitte" %}
        <td><img  width=100 src="{% static "blog/Deloitte.png" %}" alt="..." class="img-thumbnail"></td>
        {% endif %}

        <td> {{score}} </td>
        {% endfor %}

  </tbody>
</table>
    {% endif %}
{% endblock content%}
