{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.Class}}</a>
      <small class="text-muted">{{ post.Title}} </small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{post.Content}} , {{post.Project}} </p>
  </div>
</article>

    {% for r in cc %}
        <p> {{r.result}} </p>
    {% endfor %}
    {%  endfor %}
{% endblock content%}
